* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Albert Sans", system-ui;
}

p {
  margin: 0;
}

ul {
  margin: o;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "Red Hat Display", sans-serif;
}

.container {
  padding: 0;
}

.main-container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.company-info {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* --- HEADER --- */
/* .header {
  background-color: #fff;
  display: flex;
  padding: 56px 84px 40px 84px;
} */

.header {
  padding: 56px 2% 40px 2%;
}

.header-btn {
  padding: 12px 0;
  height: fit-content;
  background-color: #F99E15;
  border: none;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-icon {
  margin-right: 12px;
  width: 46px;
  height: 46px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: transparent;
}

.header-icon img {
  height: 26px;
}

/* --- MENU --- */
.main-menu {
  background-color: #0A6579;
  padding: 20px 0;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.menu-list a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all .2s ease;
}

.menu-list a:hover {
  color: #F99E15;
}

.cart-container {
  position: relative;
}

.notification {
  background-color: #F99E15;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-4px, -2px);
}

/* --- HERO --- */
.hero {
  max-width: 1366px;
  width: 100%;
  height: 686px;
  padding: 0 10px;
  background-image: url(./assets/images/HERO.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-content {
  color: #fff;
  text-align: center;
}

.hero-txt-small {
  font-size: 30px;

}

.hero-txt-big {
  font-size: 60px;
  font-weight: bolder;
  font-family: "Red Hat Display", sans-serif;
  line-height: 65px;
}

.hero-list {
  list-style: none;
  font-size: 22px;
  text-align: left;
  width: fit-content;
  margin: 0 auto;
  margin-top: 32px;
}

.tick {
  width: 28px;
  margin-right: 12px;
}

.hero-btn {
  font-size: 24px;
  font-weight: bold;
  background-color: #F99E15;
  max-width: 424px;
  width: 100%;
  padding: 12px;
  margin-top: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease;
}

.hero-btn:hover {
  transform: scale(1.02);
}

.chat-btn {
  background-color: #F99E15;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-84px, -24px);
}

.chat-btn img {
  width: 42px;
}

@media (max-width: 568px) {
  .chat-btn {
    transform: translate(-84px, 40px);
  }
}

/* --- SERVICES --- */
.services {
  padding-top: 90px;
}

.pre-title {
  font-size: 40px;
  color: #0A6579;
  margin-left: 6%;
}

.services-title {
  font-size: 60px;
  font-weight: bold;
  margin-left: 6%;
}

.services-txt {
  background-color: #F5F5F5;
  max-width: 1279px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.services-txt > p {
  max-width: 636px;
  margin-left: 6%;
  padding: 22px 0;
  padding-right: 10px;
  line-height: 35px;
  font-size: 20px;
}

.services-txt-right {
  max-width: 386px;
  width: 100%;
  min-width: 270px;
  background-color: #0A6579;
  color: #fff;
  padding: 22px;
}

.services-txt-right h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.small-txt {
  font-size: 13px;
  margin-top: 12px;
  display: block;
}

@media (max-width: 767px) {
  .services-txt {
    flex-direction: column;
  }
  
  .services-txt-right {
    max-width: 100%;
  }
}

.cards {
  margin-top: 64px;
  margin-left: 6%;
  margin-right: 6%;
  max-width: 1279px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  font-family: "Red Hat Display", sans-serif;
}

.card-container {
  max-width: 384px;
  width: 100%;
}

.vertical-cards {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: space-between;
}

.card-content-big {
  background-color: #F5F5F5;
  padding: 40px 0;
  text-align: center;
  border-radius: 10px;
}

.card-img-container {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-container img {
  max-height: 96px;
}

.card-content-big h3 {
  font-size: 34px;
  font-weight: bold;
  margin-top: 24px;
}

.card-subtitle {
  font-size: 24px;
  font-weight: 400;
}

.card-small {
  display: flex;
  border-radius: 10px;
  background-color: #F5F5F5;
  min-height: 124px;
}

.card-small-icon {
  background-color: #484848;
  padding: 44px 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-small-icon img {
  height: 42px;
}

.card-small-txt {
  padding: 24px 28px;
  line-height: 1.1;
}

.card-small-txt h3 {
  font-size: 20px;
  font-weight: bold;
}

.card-small-txt p {
  font-size: 20px;
}

.phone-number {
  font-size: 30px;
}

/* --- SPECIALIST --- */
.specialist {
  background-color: #F5F5F5;
  margin-top: 72px;
}

.specialist img {
  max-width: 683px;
  width: 100%;
  max-height: 503px;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.specialist-txt-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specialist-txt {
  max-width: 466px;
  width: 100%;
}

.specialist-txt h3 {
  font-size: 50px;
  font-weight: bolder;
}

.specialist-txt p {
  margin-top: 36px;
  font-size: 18px;
}

.specialist-txt a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* --- BRANCH --- */
.branch {
  margin-top: 54px;
  padding: 0 10px;
}

.branch-title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #000;
}

.branch-btn {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 34px 0;
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s ease;
}

.active {
  background-color: #0A6579;
  color: #fff;
  font-weight: bold;
}

.map {
  min-height: 406px;
}

.hide-map {
  display: none;
}

#map2 {
  display: none;
}

/* --- SPONSOR --- */
.sponsor {
  margin: 0 auto;
  margin-top: 64px;
  width: fit-content;
  display: flex;
  gap: 42px;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor img {
  max-height: 96px;
  height: 100%;
}

/* --- FOOTER --- */
.footer {
  background-color: #0A6579;
  margin-top: 64px;
}

.footer-container {
  padding: 44px 6%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-logo {
  width: 276px;
}

.footer-info-container {
  color: #fff;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
}

.footer-icon {
  margin-right: 12px;
  width: 46px;
  height: 46px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.footer-icon img {
  height: 26px;
}

/* .footer-info-txt {
  display: block;
} */

.info-big-txt {
  font-size: 23px;
  display: block;
}

.info-small-txt {
  font-size: 16px;
}

.copyright {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.copyright a {
  color: #fff;
  font-weight: 300;
  text-wrap: nowrap;
}